.list-entries {
  list-style: none;
  padding: 1rem 0;
  margin: 1rem auto 0;
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--bg);
  border-radius: 20px;
}

.loading-list {
  text-align: center;
  color: var(--bg-dark);
}