.wrapper {
  width: 100%;
  display: grid;
  grid-template-rows: 3fr auto;
  grid-template-areas: "main" "nav";
  background-color: var(--bg-dark);
}

main {
  grid-area: main;
}

.menu {
  display: grid;
  grid-template-columns: 1fr  auto;
  width: calc(100% - 1rem);
  grid-area: nav;
  margin: .5rem auto;
  padding: 0 1rem;

  div {
    border-radius: 2rem;
    background-color: var(--bg-light);
    width: fit-content;
  }
  
  button.nav {
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    background: transparent;
    color: var(--text-muted);
  }

  button.nav.active {
      background-color: var(--primary);
      font-weight: 600;
      color: var(--colored-text);
    }
}

