.card-wrapper {
    color: var(--text-light);
    font-size: 1rem;
    font-weight: 600;
}

.card {
    background-color: var(--primary-dark);
    height: 12rem;
    margin: auto;
    border-radius: 1rem;
    border-top-left-radius: 0;
    display: grid;
    padding: 1rem;
    grid-template-areas: 
    "label edit"
    "balance balance"
    ". budget";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;

    span {
        color: var(--primary-light);
        font-weight: 400;
    }

    .balance {
        font-weight: 700;
        font-size: 3rem;
        color: var(--text-light);
        grid-area: balance;
    }

    .budget {
        grid-area: budget;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }

    .label {
        grid-area: label;
        align-self: center;
    }

    button {
        border: none;
        border-radius: 1rem;
        background-color: var(--primary);
        color: var(--text-light);
        padding: .5rem;
        grid-area: edit;
        justify-self: end;
    }

    i {
        font-size: 1.3rem;
    }
}

.header-line {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    align-items: end;
}

.profile-header {
    position: relative;
    display: flex;
    background-color: var(--primary-dark);
    height: 2rem;
    border-radius: 1rem 1rem 0  0;
    justify-content: left;
    gap: .5rem;
    padding-left: 1rem;
    align-items: center;
    cursor: pointer;
}

.triangle {
  width: 3rem;
  height: 1.8rem;
  background: var(--primary-dark);
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  margin-left: -6px;
}

.dropdown {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0 0 1rem 1rem;

    button {
        background-color: transparent;
        border: none;
        padding: .5rem 2rem;
        font: inherit;
        color: inherit;
        width: 100%;
        cursor: pointer;
    }
    
}

.dropdown:hover {
        background-color: var(--primary);
    }

.confirm-modal-box {
    background: var(--bg);
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    max-width: 440px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    color: var(--text);
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    align-items: center;

    p{
        grid-column: 1 / -1;
        width: 90%;
        margin: auto;
    }

    input {
        grid-column: 1 / -1;
        width: 50%;
        margin: auto;
        border: solid 1px var(--border);
        line-height: 1.5rem;
        font-size: 1rem;
        border-radius: .5rem;
    }
}
