.card-wrapper {
    padding: 1rem;
    color: var(--text-light);
    font-size: 1rem;
    font-weight: 600;
}

.card {
    background-color: var(--primary-dark);
    height: 12rem;
    margin: auto;
    border-radius: 1rem;
    border-top-left-radius: 0;
}

.header-line {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    align-items: end;
}

.profile-header {
    position: relative;
    display: flex;
    background-color: var(--primary-dark);
    height: 2rem;
    border-radius: 1rem 1rem 0  0;
    justify-content: left;
    gap: .5rem;
    padding-left: 1rem;
    align-items: center;
    cursor: pointer;
}

.triangle {
  width: 3rem;
  height: 1.8rem;
  background: var(--primary-dark);
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
  margin-left: -6px;
}

.dropdown {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 0 0 1rem 1rem;

    button {
        background-color: transparent;
        border: none;
        padding: .5rem 2rem;
        font: inherit;
        color: inherit;
        width: 100%;
        cursor: pointer;
    }
    
}

.dropdown:hover {
        background-color: var(--primary);
    }

.modal-box {
    color: var(--text);
    justify-content: center;
    text-align: center;
}
